<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="es" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Super Calculadora</title>
    <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
 <header>
   <nav>
   <div class="navbar">
     <div class="logo">
       <img src="/resources/logousac.png" alt="">
     </div>
     <ul class="menu">
      <li><a href="/">Inicio</a></li>
      <li><a href="/calculadora">Calculadora</a></li>
       <li><a href="https://github.com/ErikssonHerlo" target="_blank">Servicios</a></li>
      <li><a href="/contactanos">Contáctanos</a></li>
      </ul>
      <div class="search-box">
        <input type="text" placeholder="Buscar...">
        <a href="#"><i class="fas fa-search"></i></a>
      </div>
   </div>
   </nav>
   <div class="content">
     <div class="text-content">
       <div class="name">Contáctanos</div>
       <div class="job"><span>@Eriksson_Herlo</span></div>
       <div class="job">
         <div class="job">
           <span>Frontend &</span>
            <div class="typing-text">
              <span class="one">Backend</span>
              <span class="two">Developer.</span>
            </div>
          </div>
       </div>
       
     </div>
   </div>
   
   <div class="media-icons">
    <a href="https://www.facebook.com/eriksson.hernandez/" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.instagram.com/erikssonherlo/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://github.com/ErikssonHerlo" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://twitter.com/Eriksson_Herlo" target="_blank"><i class="fab fa-twitter"></i></a>
  </div>
 </header>
</body>
</html>
