<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="es" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Super Calculadora</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styleCalculadora.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body class="container">
   <div class="container">
 <header class="d-flex flex-wrap justify-content-center py-3 mb-4">
   <nav>
   <div class="navbar">
     <div class="logo">
       <img src="/resources/logousac.png" alt="">
     </div>
     <ul class="menu">
      <li><a href="/">Inicio</a></li>
      <li><a href="/calculadora">Calculadora</a></li>
       <li><a href="https://github.com/ErikssonHerlo" target="_blank">Servicios</a></li>
      <li><a href="/contactanos">Contáctanos</a></li>
      </ul>
      <div class="search-box">
        <input type="text" placeholder="Buscar...">
        <a href="#"><i class="fas fa-search"></i></a>
      </div>
   </div>
   </nav>
  </header>
</div>
    
<div class="container py-4">
    <main>
      <div class="container py-4">
        <div class="text-content">
          <div class="text">Super Calculadora </div>
        </div>
          <div class="p-5 mb-4 bg-light rounded-3">
              <div class="container-fluid py-5">
                  <form id='form'>
                      <div class='ancho-operando mb-3 '>
                          <!--<label for='operandoA'>Operando A</label>-->
                          <input type="number" class='form-control ' placeholder="Primer Número" id='operando1' />
                      </div>
                      <div class='ancho-operando mb-3'>
                          <!--<label for='operandoB'>Operando B</label>-->
                          <input type="number" class="form-control" placeholder="Segundo Número" id='operando2' />
                      </div>
                  </form>
                  <div class="container">
                    <div class="buttons">
                      <button id='buttonSumar'>Sumar</button>
                      <button id='buttonRestar'>Restar</button>
                      <button id='buttonMultiplicar'>Multiplicar</button>
                      <button id='buttonDividir'>Dividir</button>
                    </div>
                  </div>
              </div>
          </div>

          <div class="row align-items-md-stretch">
              <div class="col-md-6">
                  <div class="h-100 p-5 text-white bg-dark rounded-3">
                      <h2>Resultado de la Operación</h2>
                      <div id="resultado">
                          <h5>Resultado</h5>
                      </div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="h-100 p-5 bg-light border rounded-3">
                      <h2>Historial de Operaciones</h2>
                      <div id="historial">
                          <h5>Detalle</h5>
                      </div>
                  </div>
              </div>
          

      </div>
  </main>



  <div class="media-icons">
    <a href="https://www.facebook.com/eriksson.hernandez/" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.instagram.com/erikssonherlo/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://github.com/ErikssonHerlo" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://twitter.com/Eriksson_Herlo" target="_blank"><i class="fab fa-twitter"></i></a>
  </div>



<footer class="pt-3 mt-4">
  Eriksson_Herlo &copy; 2021
   
  
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
crossorigin="anonymous"></script>
<script src="/js/app.js"></script>
</body>
</html>
